{
    "(CmdClient)" = (
	"-cmdMesgData:from:",
	"-cmdQuit:",
	"-processIdentifier",
	"-ecDidAwaken",
	"-ecReconnect"
    );
    "(CmdConfig)" = (
	"-requestConfigFor:",
	"-updateConfig:"
    );
    "(CmdLogger)" = (
	"-flush",
	"-logMessage:type:name:",
	"-logMessage:type:for:",
	"-registerClient:identifier:name:transient:",
	"-unregisterByObject:status:",
	"-woken:"
    );
    "(CmdPing)" = (
	"-cmdGnip:sequence:extra:",
	"-cmdPing:sequence:extra:"
    );
    "(Command)" = (
	"-activeCount",
	"-alarm:",
	"-clear:",
	"-command:to:from:",
	"-launch:",
	"-registerClient:identifier:name:transient:",
	"-reply:to:from:",
	"-terminate:",
	"-configurationFor:",
	"-woken:"
    );
    "(Console)" = (
	"-information:"
    );
    "(Control)" = (
	"-alarm:",
	"-command:from:",
	"-domanage:",
	"-information:type:to:from:",
	"-registerCommand:name:",
	"-registerConsole:name:pass:",
	"-reply:to:from:",
	"-servers:on:",
	"-unmanage:",
	"-unregister:"
    );
    "(EcAlarmDestination)" = (
	"-alarm:",
	"-domanage:",
	"-unmanage:"
    );
    "(EcAlarmMonitor)" = (
	"-activePut:",
	"-activeRemove:",
	"-clearsPut:",
	"-clearsRemove:",
	"-managePut:",
	"-manageRemove:"
    );
    "(EcConfigForwarded)" = (
	"-ecForwardedConfig:from:"
    );
    "(EcConfigForwarding)" = (
	"-ecCancelConfigFwdTo:",
	"-ecSetupConfigFwdTo:"
    );
    "(EcTest)" = (
	"-ecTestCommand:",
	"-ecTestConfigForKey:",
	"-ecTestSetConfig:forKey:"
    );
    CommandInfo = (
	"-serverByAbbreviation:",
	"-servers",
	"-setServers:"
    );
    ConsoleInfo = (
	"-initFor:name:with:pass:",
	"-chost",
	"-cserv",
	"-getAlerts",
	"-getAudits",
	"-getErrors",
	"-getGeneral",
	"-getWarnings",
	"-pass",
	"-promptAfter:",
	"-setAlerts:",
	"-setAudits:",
	"-setConnectedHost:",
	"-setConnectedServ:",
	"-setErrors:",
	"-setGeneral:",
	"-setWarnings:"
    );
    EcAlarm = (
	"+alarmForManagedObject:at:withEventType:probableCause:specificProblem:perceivedSeverity:proposedRepairAction:additionalText:",
	"+eventTypeFromProbableCause:",
	"+stringFromEventType:",
	"+stringFromProbableCause:",
	"+stringFromSeverity:",
	"+stringFromTrend:",
	"-additionalText",
	"-audit",
	"-compare:",
	"-clear",
	"-copyWithZone:",
	"-dealloc",
	"-delay",
	"-delayed:",
	"-encodeWithCoder:",
	"-eventDate",
	"-eventType",
	"-extra",
	"-firstEventDate",
	"-freeze",
	"-hash",
	"-initForManagedObject:at:withEventType:probableCause:specificProblem:perceivedSeverity:proposedRepairAction:additionalText:",
	"-initWithCoder:",
	"-isEqual:",
	"-managedObject",
	"-moComponent",
	"-moHost",
	"-moInstance",
	"-moInstancedProcess",
	"-moProcess",
	"-notificationID",
	"-perceivedSeverity",
	"-proposedRepairAction",
	"-probableCause",
	"-setAudit:",
	"-setDelay:",
	"-setExtra:",
	"-setFirstEventDate:",
	"-setNotificationID:",
	"-setTrendIndicator:",
	"-setUserInfo:",
	"-specificProblem",
	"-trendIndicator",
	"-userInfo"
    );
    "EcAlarm(Convenience)" = (
	"+clear:cause:problem:",
	"+raise:cause:problem:severity:action:,..."
    );
    EcAlarmDestination = (
	"-activePut:",
	"-activeRemove:",
	"-alarm:",
	"-alarms",
	"-backups",
	"-clears",
	"-clearsPut:",
	"-clearsRemove:",
	"-domanage:",
	"-init",
	"-initWithHost:name:",
	"-isRunning",
	"-latest:",
	"-managed",
	"-managePut:",
	"-manageRemove:",
	"-run",
	"-setBackups:",
	"-setCoalesce:",
	"-setDebug:",
	"-setDestination:",
	"-setMonitor:",
	"-shutdown",
	"-unmanage:"
    );
    "EcAlarmDestination(Forwarding)" = (
	"-alarmFwd:",
	"-domanageFwd:",
	"-unmanageFwd:"
    );
    EcAlarmSinkSNMP = (
	"+alarmSinkSNMP",
	"-initWithHost:name:"
    );
    EcAlerter = (
	"-configure:",
	"-configureWithDefaults:",
	"-flushEmail",
	"-flushSms",
	"-handleAudit:withHost:andServer:timestamp:",
	"-handleEvent:withHost:andServer:timestamp:identifier:alarm:reminder:",
	"-handleInfo:",
	"-log:to:",
	"-mail:to:",
	"-other:to:",
	"-setRules:",
	"-shutdown",
	"-sms:to:",
	"-timeout:"
    );
    EcBroadcastProxy = (
	"-initWithReceiverNames:receiverHosts:",
	"-initWithReceivers:",
	"-BCPraiseConnections",
	"-BCPstatus",
	"-BCPsetDelegate:",
	"-BCPdelegate",
	"-BCPreceiverNames",
	"-BCPreceiverHosts",
	"-BCPreceiverCount",
	"-BCPraiseConnection:",
	"-BCPproxy:"
    );
    EcCommand = (
	"-alarmCode:procName:addText:",
	"-auditState:reason:",
	"-clear:",
	"-clearAll:addText:",
	"-clearCode:procName:addText:",
	"-cmdGnip:sequence:extra:",
	"-cmdPing:sequence:extra:",
	"-cmdQuit:",
	"-command:to:from:",
	"-configurationFor:",
	"-connection:shouldMakeNewConnection:",
	"-connectionBecameInvalid:",
	"-environment",
	"-findAll:byAbbreviation:",
	"-findIn:byAbbreviation:",
	"-findIn:byName:",
	"-findIn:byObject:",
	"-host",
	"-housekeeping:",
	"-_housekeeping:",
	"-hungRestart:",
	"-information:from:type:",
	"-information:from:to:type:",
	"-killAll",
	"-logFile",
	"-logChange:for:",
	"-logMessage:type:for:",
	"-logMessage:type:name:",
	"-makeSpace",
	"-newConfig:",
	"-openLog:",
	"-pingControl",
	"-quitAll",
	"-requestConfigFor:",
	"-registerClient:identifier:name:transient:",
	"-removeClient:cleanly:",
	"-reply:to:from:",
	"-terminate:",
	"-_terminate:",
	"-unconfiguredClients",
	"-unregisterByObject:status:",
	"-update",
	"-updateConfig:",
	"-woken:"
    );
    EcConsole = (
	"-connectionBecameInvalid:",
	"-activateReadline",
	"-deactivateReadline",
	"-setupConnection",
	"-didRead:",
	"-didWrite:",
	"-doCommand:",
	"-timedOut",
	"-waitEnded:"
    );
    EcControl = (
	"-openLog:",
	"-cmdGnip:sequence:extra:",
	"-cmdPing:sequence:extra:",
	"-cmdQuit:",
	"-command:from:",
	"-connection:shouldMakeNewConnection:",
	"-connectionBecameInvalid:",
	"-findIn:byAbbreviation:",
	"-findIn:byName:",
	"-findIn:byObject:",
	"-information:type:to:from:",
	"-messageForAlarm:",
	"-registerCommand:name:",
	"-registerConsole:name:pass:",
	"-reply:to:from:",
	"-reportAlarm:withMessage:isCleared:reminder:",
	"-reportAlarms",
	"-servers:on:",
	"-timedOut:",
	"-unregister:",
	"-update",
	"-updateConfig:",
	"-getInclude:",
	"-recursiveInclude:",
	"-tryInclude:multi:"
    );
    EcLogger = (
	"+loggerForType:",
	"+setFactory:",
	"-cmdGnip:sequence:extra:",
	"-cmdMadeConnectionToServer:",
	"-cmdPing:sequence:extra:",
	"-flush",
	"-log:arguments:",
	"-log:,...",
	"-update"
    );
    EcProcess = (
	"+ecGetKey:size:md5:",
	"+ecInitialDefaults",
	"+ecLock",
	"+ecRegisterDefault:withTypeText:andHelpText:action:value:",
	"+ecSetup",
	"-alarmConfigurationFor:specificProblem:additionalText:critical:",
	"-alarms",
	"-clearConfigurationFor:specificProblem:additionalText:",
	"-ecAlarmDestination",
	"-ecCopyright",
	"-ecDoLock",
	"-ecDidQuit",
	"-ecHandleQuit",
	"-ecIsQuitting",
	"-ecQuitDuration",
	"-ecQuitFor:with:",
	"-ecQuitLimit:",
	"-ecQuitReason",
	"-ecQuitStatus",
	"-ecReconnect",
	"-ecRestart:",
	"-ecStarted",
	"-ecUnLock",
	"-ecWillQuit",
	"-addServerToList:",
	"-addServerToList:for:",
	"-removeServerFromList:",
	"-cmdAlert:arguments:",
	"-cmdAlert:,...",
	"-ecArchive:",
	"-cmdAudit:arguments:",
	"-cmdAudit:,...",
	"-cmdConnectionBecameInvalid:",
	"-cmdDataDirectory",
	"-cmdDbg:msg:arguments:",
	"-cmdDbg:msg:,...",
	"-cmdDebug:arguments:",
	"-cmdDebug:,...",
	"-cmdDefaultsChanged:",
	"-cmdError:arguments:",
	"-cmdError:,...",
	"-cmdFlushLogs",
	"-cmdIsClient",
	"-cmdIsConnected",
	"-cmdIsTesting",
	"-cmdLogEnd:",
	"-cmdLogFile:",
	"-cmdMesgData:from:",
	"-cmdMesg:",
	"-cmdNewServer",
	"-cmdOperator:password:",
	"-cmdQuit:",
	"-cmdSignalled",
	"-cmdUpdate:",
	"-cmdUpdated",
	"-log:type:",
	"-cmdWarn:arguments:",
	"-cmdWarn:,...",
	"-cmdInterval",
	"-setCmdDebug:withDescription:",
	"-setCmdInterval:",
	"-setCmdTimeout:",
	"-triggerCmdTimeout",
	"-cmdBase",
	"-cmdConfig:",
	"-cmdDebugMode:",
	"-cmdDebugMode:active:",
	"-cmdDefaults",
	"-cmdInstance",
	"-cmdMatch:toKey:",
	"-cmdMesg:",
	"-cmdName",
	"-cmdPrintf:arguments:",
	"-cmdPrintf:,...",
	"-cmdQuit:",
	"-cmdUpdate:",
	"-init",
	"-initWithDefaults:",
	"-cmdMesgCache",
	"-cmdMesgarchive:",
	"-cmdMesgdebug:",
	"-cmdMesghelp:",
	"-cmdMesgmemory:",
	"-cmdMesgnodebug:",
	"-cmdMesgstatus:",
	"-processIdentifier",
	"-server:",
	"-server:forNumber:",
	"-isServerMultiple:",
	"-ecAwaken",
	"-ecConfigurationError:,...",
	"-ecDidAwaken",
	"-ecHadIP:",
	"-ecHadOP:",
	"-ecNewDay:",
	"-ecNewHour:",
	"-ecNewMinute:",
	"-ecNotLeaked",
	"-ecRun",
	"-ecTestLog:arguments:",
	"-ecTestLog:,...",
	"-ecUpdateRegisteredDefaults",
	"-ecUserDirectory",
	"-ecException:specificProblem:perceivedSeverity:message:,...",
	"-ecException:specificProblem:perceivedSeverity:message:arguments:"
    );
    LaunchInfo = (
	"+description",
	"+existing:",
	"+find:",
	"+launchInfo:",
	"+launching",
	"+names",
	"+processQueue",
	"+remove:",
	"-alarm:",
	"-alarms",
	"-autolaunch",
	"-awakened",
	"-checkActive",
	"-checkProcess",
	"-clearClient:cleanly:",
	"-clearHung",
	"-client",
	"-configuration",
	"-delay",
	"-desired",
	"-disabled",
	"-hungDate",
	"-isActive",
	"-isStarting",
	"-isStopping",
	"-launch",
	"-manual",
	"-mayBecomeStable",
	"-mayCoreDump",
	"-name",
	"-processIdentifier",
	"-progress",
	"-reasonToPreventLaunch",
	"-resetDelay",
	"-setClient:",
	"-setConfiguration:",
	"-setDesired:",
	"-setHung",
	"-setManual:",
	"-setPing",
	"-setProcessIdentifier:",
	"-setStable:",
	"-setTerminationStatus:",
	"-stable",
	"-start",
	"-start:",
	"-started",
	"-starting:",
	"-status",
	"-stop",
	"-stop:",
	"-stopped",
	"-stopping:",
	"-task",
	"-unfulfilled"
    );
    "NSHost(EcHost)" = (
	"+controlWellKnownName",
	"+hostWithWellKnownName:",
	"+setWellKnownNames:",
	"-setWellKnownName:",
	"-wellKnownName"
    );
    "NSObject(BCPdelegate)" = (
	"-BCP:lostConnectionToServer:host:",
	"-BCP:madeConnectionToServer:host:"
    );
    "NSObject(RemoteServerDelegate)" = (
	"-cmdMadeConnectionToServer:",
	"-cmdLostConnectionToServer:"
    );
    "NSUserDefaults(EcUserDefaults)" = (
	"+prefixedDefaults",
	"+setDefaultLifetime:",
	"+userDefaultsWithPrefix:",
	"-commandExpiries",
	"-commandObjectForKey:",
	"-configuration",
	"-defaultsPrefix",
	"-key:",
	"-purgeSettings",
	"-revertSettings",
	"-setCommand:forKey:",
	"-setCommand:forKey:lifetime:",
	"-setConfiguration:"
    );
}